<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PrometheusExample.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SwiftPrometheus-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SwiftPrometheus.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>Prometheus</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PrometheusExample</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PrometheusMetrics</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SwiftPrometheus</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SwiftPrometheusTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
