version: "3"

services:

  runtime-setup:
    image: prometheus:22.04-main
    build:
      args:
        base_image: "swiftlang/swift:nightly-main-jammy"

  documentation-check:
    image: prometheus:22.04-main

  test:
    image: prometheus:22.04-main
    environment:
      - IMPORT_CHECK_ARG=--explicit-target-dependency-import-check error
      # - SANITIZER_ARG=--sanitize=thread

  update-benchmark-baseline:
    image: prometheus:22.04-main
    environment:
      - SWIFT_VERSION=main

  shell:
    image: prometheus:22.04-main
